Repository mikeyasaservice/sigma-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, consumer, parser, lexer, pattern, rule, tests, benchmarks, ci, dependencies

fix: Address critical pattern module safety and memory issues
  src/pattern/coercion.rs
  src/pattern/intern.rs
  src/pattern/mod.rs
Labels: rust, pattern

fix: Address critical pattern module safety and memory issues
  src/pattern/coercion.rs
  src/pattern/intern.rs
  src/pattern/mod.rs
Labels: rust, pattern

fix(result): Address medium priority code review issues
  src/consumer/backpressure.rs
  src/consumer/consumer.rs
  src/consumer/metrics.rs
  src/consumer/retry.rs
  src/result/mod.rs
Labels: rust, consumer

fix(result): Address medium priority code review issues
  src/consumer/backpressure.rs
  src/consumer/consumer.rs
  src/consumer/metrics.rs
  src/consumer/retry.rs
  src/result/mod.rs
Labels: rust, consumer

fix: Address critical security and code quality issues in service module
  docker-compose.yml
  src/ast/mod.rs
  src/ast/nodes.rs
  src/consumer/backpressure.rs
  src/lexer/mod.rs
  src/lexer/state.rs
  src/rule/detection.rs
  src/rule/mod.rs
  src/service/mod.rs
  tests/service_test.rs
Labels: rust, consumer, lexer, rule, tests

fix: Address critical security and code quality issues in service module
  docker-compose.yml
  src/ast/mod.rs
  src/ast/nodes.rs
  src/consumer/backpressure.rs
  src/lexer/mod.rs
  src/lexer/state.rs
  src/rule/detection.rs
  src/rule/mod.rs
  src/service/mod.rs
  tests/service_test.rs
Labels: rust, consumer, lexer, rule, tests

fix: Address critical float precision and iterator logic issues in AST module
  src/consumer/backpressure.rs
  src/consumer/consumer.rs
  src/consumer/offset_manager.rs
  src/consumer/retry.rs
  tests/service_test.rs
Labels: rust, consumer, tests

fix: Address critical float precision and iterator logic issues in AST module
  src/consumer/backpressure.rs
  src/consumer/consumer.rs
  src/consumer/offset_manager.rs
  src/consumer/retry.rs
  tests/service_test.rs
Labels: rust, consumer, tests

fix: Update Codecov integration and badge URLs
  .github/workflows/ci.yml
  README.md
Labels: documentation, ci

fix: Remove example references from Cargo.toml
  Cargo.toml
Labels: rust, dependencies

fix: Fix yansi API usage for v1.0
  src/bin/test_runner.rs
Labels: rust

fix: Update CI to avoid Kafka build issues
  .github/workflows/ci.yml
Labels: ci

chore: Simplify CI/CD workflows for v1.0.0
  .github/workflows/enhanced-testing.yml
  .github/workflows/main.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/security-comprehensive.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Labels: ci

feat: Add simple CLI binary for sigma-rs
  src/main.rs
Labels: rust

feat: Add run scripts and update README with usage instructions
  Cargo.toml
  Makefile
  README.md
  run.sh
  src/bin/main.rs
Labels: documentation, rust, dependencies

feat: Add Kafka support to CLI with flexible input/output options
  Cargo.toml
  Makefile
  config.toml.example
  run.sh
  src/main.rs
Labels: rust, dependencies

feat: Add rules directory validation to prevent running without rules
  src/main.rs
Labels: rust

chore: Prepare v1.0.1 release
  Cargo.toml
  src/bin/data_generator.rs
  src/bin/engine.rs
  src/bin/main.rs
  src/bin/test_runner.rs
  src/main.rs
Labels: rust, dependencies

docs: Add missing documentation and fix warnings
  rules/.gitkeep
  src/bin/main.rs
  src/lexer/error.rs
  src/lexer/state.rs
  src/lexer/token.rs
  src/lib.rs
  src/rule/mod.rs
  src/tree/mod.rs
Labels: rust, lexer, rule

chore: Bump version to 1.0.2
  Cargo.toml
Labels: rust, dependencies

feat(v2.0.0-nightly): Add initial Arrow support for columnar event processing
  Cargo.toml
  DISTRIBUTED_ARROW_PLAN.md
  README.md
  ROADMAP.md
  scripts/load_test.sh
  scripts/time_based_load_test.sh
  src/arrow_event.rs
  src/error.rs
  src/event.rs
  src/json_to_arrow.rs
  src/lib.rs
  src/pattern/arrow_string_matcher.rs
  src/pattern/mod.rs
Labels: documentation, rust, pattern, dependencies

feat: Implement Phase 1 optimizations for 3M eps architecture
  Cargo.toml
  benches/optimized_pattern_benchmark.rs
  examples/optimized_engine_demo.rs
  newplan.md
  src/ast/mod.rs
  src/ast/tiered_compiler.rs
  src/engine/mod.rs
  src/engine/optimized_batch_processor.rs
  src/pattern/grouped_matcher.rs
  src/pattern/mod.rs
Labels: documentation, rust, pattern, benchmarks, dependencies

Adding checks
  .github/workflows/build.yml
  sonar-project.properties
Labels: ci

test: Add comprehensive test suite for Kafka setup scripts
  scripts/test_kafka_setup.sh
Labels: none

feat: Implement Kafka/Redpanda infrastructure automation scripts
  scripts/check-kafka.sh
  scripts/setup-kafka.sh
  scripts/test_kafka_setup.sh
Labels: none

test: Add comprehensive test suite for service mode
  scripts/test_service.sh
  test-kafka-consumer.sh
Labels: none

feat: Implement HTTP/gRPC service binary for sigma-rs
  Cargo.toml
  scripts/test_service.sh
  src/bin/sigma-rs-service.rs
Labels: rust, dependencies

feat: Add service startup script and validate endpoints
  scripts/start-service.sh
Labels: none

feat: Add production Sigma rules from SigmaHQ
  scripts/download-sigma-rules.sh
Labels: none

feat: Fix parser to load ALL Sigma rules (98% success rate)
  .gitignore
  deny.toml
  src/parser/mod.rs
  src/ruleset/mod.rs
  src/service/mod.rs
  src/telemetry.rs
  test-kafka-consumer.sh
Labels: rust, parser

fix: CI/CD issues - clippy and formatting
  src/bin/main.rs
  src/bin/sigma-rs-service.rs
  src/parser/mod.rs
  src/ruleset/mod.rs
  src/telemetry.rs
Labels: rust, parser

fix: Docker security - run container as non-root user
  Dockerfile
Labels: none

fix: Allow large error types in parser and tree builder
  src/parser/mod.rs
  src/tree/builder.rs
Labels: rust, parser

fix: Explicit lifetime annotations for Rust 1.79+ compatibility
  src/pattern/coercion.rs
  src/result/mod.rs
Labels: rust, pattern

refactor: Remove all feature flags - single service mode
  .github/workflows/ci.yml
  Cargo.toml
  src/bin/main.rs
  src/lib.rs
  src/service/mod.rs
  src/telemetry.rs
  tests/parity_test.rs
Labels: rust, tests, ci, dependencies

fix: Run cargo fmt to fix formatting issues
  src/telemetry.rs
Labels: rust

fix: Always build protobuf in build.rs
  build.rs
Labels: rust

fix: Install protoc in CI workflow
  .github/workflows/ci.yml
Labels: ci

docs: Clean up README formatting
  README.md
Labels: documentation

docs: Fix academic paper link in README
  README.md
Labels: documentation

.github/labeler.yml:

# Add labels to PRs based on changed files

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

consumer:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/consumer/**'
      - 'tests/consumer/**'

parser:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/parser/**'
      - 'tests/parser*'

lexer:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/lexer/**'
      - 'tests/lexer*'

pattern:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/pattern/**'
      - 'tests/pattern*'

rule:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/rule/**'
      - 'tests/rule*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*_test.rs'
      - '**/*_tests.rs'

benchmarks:
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.pre-commit-config.yaml'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
